/*!
 * <Site name>
 */

@import "bootstrap-sass/stylesheets/bootstrap.scss";

@import "modules/variables.scss";
@import "modules/mixins.scss";

@import "modules/header.scss";
@import "modules/forms.scss";
@import "modules/buttons.scss";
@import "modules/footer.scss";
@import "modules/plugins.scss";

.animated-heading {
	opacity: 0;
	
	div {
		opacity: 0;
		position: relative;
		@include translate(0, 30px);
	}
}

@media print {
	body {
		font-size: percentage(10 / 16);
	}
}