// ============================================
//////		BOOTSTRAP
// ============================================
// 
// @import "bootstrap-sass/stylesheets/bootstrap.scss";

// ============================================
//////		BOURBON / BITTERS / NEAT
// ============================================
// 
// http://bourbon.io/docs/
// https://github.com/thoughtbot/bitters
// http://neat.bourbon.io/docs/
// 
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

// Prepackaged components and patterns:
// http://refills.bourbon.io/

// ============================================
//////		MODULES
// ============================================

@import "modules/navigation.scss";
@import "modules/forms.scss";
@import "modules/buttons.scss";
@import "modules/footer.scss";
@import "modules/responsive.scss";

@include font-face('Entypo', 'fonts/entypo', normal, normal);

i.icon {
	font-family: 'Entypo';
	font-style: normal;
	font-size: 1.5em;
	font-weight: normal;
}

.title, .half {
	position: relative;
	opacity: 0;
}

.title {
	margin: 2em 0;
	top: -50px;
}

.container {
	@include outer-container();

	.half {
		@include span-columns(6);
		left: -50px;
		
		@include media(max-width 768px) {
			@include span-columns(12);
		}
	}
}

@media print {
	body {
		font-size: percentage(10 / 16);
	}
}
