@import "vendor/bootstrap.scss";
@import "vendor/bootstrap-import.scss";

@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "vendor/sassaparilla/mixins";
@import "vendor/sassaparilla/placeholders";

// Import all modules
@import "modules/*";

/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
