.accordion__trigger {
  background-color: #eee;
  border: 0;
  border-top: 1px solid #dddedf;
  padding: .75rem 1.5rem .75rem 0;
  position: relative;
  width: 100%;
  text-align: left;

  &:first-child {
    border-top: 0;
  }
}

.accordion__trigger .icon {
  position: absolute;
  right: 0;
  top: .875rem;
  display: block;
}

.accordion__trigger[aria-expanded='true'] .icon {
  transform: scaleY(-1);
}

.accordion__body {
  display: none;
  overflow: hidden;
}

.accordion__body[aria-hidden='false'] {
  display: block;
}

.accordion__body-inner {
  padding: 1rem;
}
