$cms-content-spacing: 1.25rem;

.cms-content > * {
  margin-top: $cms-content-spacing;
  margin-bottom: 0;
}

.cms-content > *:first-child {
  margin-top: 0;
}

.cms-content img {
  display: block;
  max-width: 100%;
}

.cms-content img,
.cms-content .embed-wrap,
.cms-content > iframe {
  margin-top: $cms-content-spacing * 1.5;
  margin-bottom: $cms-content-spacing * 1.5;
}

.cms-content h1,
.cms-content h2,
.cms-content h3,
.cms-content h4 {
  margin-top: $cms-content-spacing * 1.5;
}

.cms-content h1 + * {
  margin-top: $cms-content-spacing / 1.5;
}

.cms-content h2 + *,
.cms-content h3 + *,
.cms-content h4 + * {
  margin-top: $cms-content-spacing / 2;
}

.cms-content a {
  text-decoration: underline;
  color: $color-text;

  &:hover {
    color: $color-primary;
  }
}
