.spinner {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &,
  &:before {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 10px solid #c5c5c5;
  }

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    border-color: $color-primary;
    border-bottom-color: #c5c5c5;
    animation: spinner 3s linear infinite;
  }
}

.spinner--sm {
  transform: scale(0.6);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
