.upload-field__errors {
  color: $color-negative;

  &:empty {
    display: none;
  }
}

.upload-field__button {
  overflow: hidden;
  position: relative;
}

.upload-field__input {
  cursor: pointer;
  direction: ltr;
  font-size: 200px !important; // sass-lint:disable-line no-important
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.upload-field__files li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.upload-field__item {
  line-height: 32px;
  min-height: 52px;
  overflow: hidden;
  padding-left: 52px;
  padding-right: 90px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upload-field__thumb {
  left: 0;
  max-height: 42px;
  max-width: 42px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.upload-field__delete {
  color: $color-negative;
  font-size: .94rem;
  line-height: 2rem;
  margin-top: -1rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.upload-field__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
