{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "jquery": true
  },
  "globals": {
    "dataLayer": true,
    "ga": true,
    "BASE": true,
    "Modernizr": true
  },
  "rules": {
    "no-magic-numbers": [
      "error",
      {
        "ignore": [0, 1, -1],
        "ignoreArrayIndexes": true
      }
    ]
  }
}
