{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "jquery": true
  },
  "globals": {
    "dataLayer": true,
    "gtag": true,
    "BASE": true,
    "Modernizr": true
  },
  "rules": {
    "no-magic-numbers": [
      "warn",
      {
        "ignore": [0, 1, -1, 10, 100, 1000],
        "ignoreArrayIndexes": true
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
