@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: #{$breakpoint}) {
    .u-#{$breakpoint}-float-left {
      float: left;
    }

    .u-#{$breakpoint}-float-right {
      float: right;
    }

    .u-#{$breakpoint}-float-none {
      float: none;
    }
  }
}
