.u-icon-link {
  position: relative;
  padding-left: 1.25em;
}

.u-icon-link .icon {
  position: absolute;
  top: .25em;
  left: 0;
}

.u-decorate-links a {
  text-decoration: underline;
}

.u-no-decorate-links a {
  text-decoration: none;
}
