.u-text-lg { font-size: $font-size-large; }
.u-text-md { font-size: $font-size-base; }
.u-text-sm { font-size: $font-size-small; }

.u-text-no-decoration { text-decoration: none; }
.u-text-decoration { text-decoration: underline; }
.u-text-line-through { text-decoration: line-through; }

.hide-text,
.text-hide,
.u-hide-text {
  @include hide-text;
}
