// Alignment
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-text-center { text-align: center; }
.u-text-justify { text-align: justify; }
.u-text-nowrap { white-space: nowrap; }

.u-text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Transformation
.u-text-lowercase { text-transform: lowercase; }
.u-text-uppercase { text-transform: uppercase; }
.u-text-capitalize { text-transform: capitalize; }

.u-text-lg { font-size: $font-size-large; }
.u-text-md { font-size: $font-size-base; }
.u-text-sm { font-size: $font-size-small; }

.u-font-normal { font-weight: normal; }
.u-font-bold { font-weight: 700; }
.u-font-style-italic { font-style: italic; }
.u-font-style-normal { font-style: normal; }

.u-text-no-decoration { text-decoration: none; }
.u-text-decoration { text-decoration: underline; }
.u-text-line-through { text-decoration: line-through; }

.hide-text,
.text-hide,
.u-hide-text {
  @include hide-text;
}
