//
// PATHS
//
$font-path: '../fonts/';
$img-path: '../images/';

//
// COLORS
//
$color-primary: #bada55;
$color-secondary: #ff5820;

$background: #fff;
$color-text: #555;

$color-positive: #6ec189;
$color-negative: #c24b39;

$color-link: $color-primary;

$link-color: $color-link;
$link-hover-color: darken($color-link, 15%);

//
// TYPOGRAPHY
//
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$em-base: $font-size-base;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * .85));

$line-height-base: 1.4;
$line-height-computed: floor(($font-size-base * $line-height-base));
$line-height: em($font-size-base * $line-height-base);

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;

$font-size-h1: 3.157rem;
$font-size-h2: 2.369rem;
$font-size-h3: 1.77rem;
$font-size-h4: 1.33rem;

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$em-base: $font-size-base;
$prefix-for-webkit: true;
$prefix-for-mozilla: true;
$prefix-for-microsoft: true;
$prefix-for-opera: true;
$prefix-for-spec: true;

$default-box-sizing: border-box;
$default-cursor: default;
$default-disabled-color: rgba(0, 0, 0, .6);
$default-font-family: $font-family-base;
$default-input-background: transparent;
$default-line-height: $line-height-base;
$default-monospace-font-family: $font-family-monospace;
$default-nav-list-style: none;
$default-selection-background-color: $color-primary;
$default-small-font-size: 75%;
$default-text-rendering: optimizeLegibility;
$default-textarea-resize: vertical;
$default-vertical-align: top;
