.u-w-100 { width: 100%; }
.u-w-66 { width: 66.666%; }
.u-w-50 { width: 50%; }
.u-w-33 { width: 33.333%; }
.u-w-25 { width: 25%; }

.u-capped-sm { max-width: 25rem; }
.u-capped-md { max-width: 32rem; }
.u-capped-lg { max-width: 38rem; }
.u-capped-xl { max-width: 44rem; }
