/**
 * _Variables.scss
 */

/* Custom variables */
$font-path: 'fonts/';

/* Bootstrap variables */
$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$body-bg:     			#fff;
$text-color:			$gray-dark;
$link-color:			$brand-primary;
$link-hover-color:		darken($link-color, 15%);

$font-size-base:		14px;
$font-size-h1:			floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:			floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:			ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:			ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:			$font-size-base;
$font-size-h6:			ceil(($font-size-base * 0.85)); // ~12px

$headings-font-family:	inherit;
$headings-font-weight:	500;
$headings-line-height:	1.1;
$headings-color:		inherit;

$grid-columns:   		12;
$grid-gutter-width:		30px;