.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  border: 1px solid transparent;
  background-image: none;
  cursor: pointer;
  padding: .25rem .5rem;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: $btn-font-weight;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $btn-primary-color;
  }

  &:active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled] {
    opacity: .65;
    box-shadow: none;
    cursor: $cursor-disabled;
  }
}

.btn--secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn--primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn--lg {
  padding: .45rem .6rem;
}

.btn--sm {
  padding: .25rem .5rem;
}
