.btn {
  display: inline-block;
  margin-bottom: 0;
  border: 0;
  background-image: none;
  cursor: pointer;
  padding: $btn-padding;
  height: $btn-height;
  line-height: $btn-height;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: $btn-font-weight;
  user-select: none;
  touch-action: manipulation;
  transition: background .3s $ease-out-quad, color .3s $ease-out-quad;

  @if ($btn-border-radius != 0) {
    border-radius: $btn-border-radius;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    opacity: .65;
    box-shadow: none;
    cursor: $cursor-disabled;
  }
}

.btn--primary {
  @include button-generator($button-primary);
}

.btn--secondary {
  @include button-generator($button-secondary);
}

.btn--lg {
  padding: $btn-lg-padding;
  height: $btn-lg-height;
}

.btn--sm {
  padding: $btn-sm-padding;
  height: $btn-sm-height;
}
