.custom-select {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 36px;
	background: #fff;
	position: relative;

	select {
		padding: 0 50px 0 10px;
		height: 34px;
		width: 130%;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		position: relative;
		z-index: 2;
		text-overflow: ellipsis;
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;

		&:focus {
			outline: none;
		}
	}
}

