.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon--sm {
  width: .75em;
  height: .75em;
}

.icon--lg {
  width: 1.25em;
  height: 1.25em;
}
