.navigation {
  background-color: $navigation-bg;
}

.navigation__link {
  display: block;
  padding: $navigation-link-padding;
  color: $navigation-link-color;
}

.navigation__link.is-active {
  color: $navigation-link-active-color;
}

.navigation__dropdown {
  display: none;
}

.navigation__item.is-opened .navigation__dropdown {
  display: block;
}

.navigation__dropdown-arrow,
.navigation__back-arrow {
  width: .75rem;
  height: .75rem;
}

@media (max-width: 991px) {
  .navigation {
    height: 0;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }

  .navigation > ul {
    transition: transform .4s $ease-out-quad;
  }

  .navigation__item {
    border-top: $navigation-item-padding;

    &:first-child {
      border-top: 0;
    }
  }

  .navigation__link {
    position: relative; // To position the arrow
  }

  .navigation__item--form,
  .navigation__item--button {
    padding: $navigation-other-padding;
  }

  .navigation__dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
  }

  .navigation__dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .navigation__back-arrow {
    margin-right: .25rem;
  }
}

@media (min-width: 992px) {
  .navigation {
    background-color: $navigation-bg-desktop;
    height: auto !important;
  }

  .navigation > ul {
    margin: 0;
    transform: none !important;
  }

  .navigation__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: $navigation-item-desktop-spacing;
    line-height: $navigation-item-desktop-line-height;

    &:first-child {
      margin-left: 0;
    }
  }

  .navigation__link {
    padding: 0;
    border-bottom: 0;
    user-select: none;

    &:hover,
    &:focus {
      color: $color-text;
    }
  }

  .navigation__link.is-active {
    position: relative;
    color: $navigation-link-active-color;
  }

  .navigation__dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition:
      opacity .3s $ease-out-quad,
      visibility .3s $ease-out-quad,
      transform .3s $ease-out-quad;
  }

  .navigation__item.is-opened .navigation__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navigation__dropdown-arrow {
    transform: rotate(90deg);
    margin-left: .25rem;
  }
}
