.sr-only {
  position: absolute;
  margin: -1px;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
  }
}
