label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
}

input[type='file'] {
  display: block;
}
