a {
  color: $link-color;
  text-decoration: none;
  @include transition(color .3s $ease-out-quad);

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}
