a {
  text-decoration: none;
  color: $link-color;
  transition: color .3s $ease-out-quad;

  &:hover,
  &:focus {
    text-decoration: $link-hover-decoration;
    color: $link-hover-color;
  }

  &:focus {
    @include tab-focus;
  }
}
