ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &%default-ul {
    padding-left: 1.5em;
    margin-bottom: .75em;
    list-style-type: disc;
  }

  &%default-ol {
    padding-left: 1.5em;
    margin-bottom: .75em;
    list-style-type: decimal;
  }
}
