table {
  width: 100%;
  margin: 15px 0;

  border-collapse: collapse;

  table-layout: fixed;

  font-feature-settings: 'kern', 'liga', 'tnum';
}

th {
  padding: .75em 0;

  font-weight: 600;
  text-align: left;
}

td {
  padding: 5px 0;
}

tr,
td,
th {
  vertical-align: middle;
}
