table {
  margin: 15px 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
}

th {
  border-bottom: 1px solid #ccc;
  padding: .75em 0;
  text-align: left;
  font-weight: 600;
}

td {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

tr,
td,
th {
  vertical-align: middle;
}
