html {
  text-rendering: optimizeLegibility;
  line-height: $line-height-base;
  color: $color-text;
  font-feature-settings: 'liga' 1, 'kern' 1;
  font-kerning: normal;
  font-family: $font-family-base;
  font-size: $font-size-base;
  text-size-adjust: none;
  font-smoothing: grayscale;
}

// Headings
// -------------------------
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 0 0 .25em;
  line-height: $headings-line-height;
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1,
.h1 {
  font-size: $font-size-h1 * $resp-font-size-ratio;
}

h2,
.h2 {
  font-size: $font-size-h2 * $resp-font-size-ratio;
}

h3,
.h3 {
  font-size: $font-size-h3 * $resp-font-size-ratio;
}

h4,
.h4 {
  font-size: $font-size-h4 * $resp-font-size-ratio;
}

@media (min-width: $resp-font-size-breakpoint) {
  h1,
  .h1 {
    font-size: $font-size-h1;

  }

  h2,
  .h2 {
    font-size: $font-size-h2;

  }

  h3,
  .h3 {
    font-size: $font-size-h3;

  }

  h4,
  .h4 {
    font-size: $font-size-h4;

  }
}

// Body text
p {
  margin: 0 0 1.25rem;
}

small,
.small {
  font-size: .875rem;
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted $abbr-border-color;
  cursor: help;
  text-decoration: none;
}
