
$color-primary:         #bada55;
$color-secondary:       #ff5820;

$background:            #fff;
$color-text:            #555;

$link-color:            $color-primary;
$link-hover-color:      darken($link-color, 15%);
